@media (min-width: 992px) and (max-width: 1169px) {
    .title1 {
        font-size: 70px;
    }
}

/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
    .title1 {
        font-size: 64px;
    }
    .title2 {
        font-size: 30px;
    }
    .portfolio-area .title1 {
        font-size: 62px;
    }
    .intro-content.content-3-slide .title1 {
        font-size: 70px;
        font-weight: 400;
        line-height: 100px;
    }
}

/* small mobile :320px. */

@media (max-width: 767px) {
    .container {
        width: 300px
    }
    .banner-mar {
        margin-bottom: 0;
    }
    .logo {
        height: inherit;
        left: 0;
        padding: 0;
        position: absolute;
        top: 8px;
        z-index: 999999;
    }
    .logo a {
        padding: 0;
    }
    .title1 {
        font-size: 24px;
        line-height: 44px;
    }
    .title2 {
        font-size: 16px;
        font-weight: 500;
    }
    .about-pic {
        margin-top: 40px;
    }
    .pri_table_list {
        margin-bottom: 30px;
    }
    .single-client {
        border: 1px solid #f1f1f1;
        margin-bottom: 30px;
        width: 100%;
    }
    .blog-post-dlc ul li {
        padding-left: 15px;
        padding-right: 15px;
    }
    .contact-info {
        margin-top: 30px;
    }
    .center-img {
        margin-top: 40px;
    }
    .intro-content.content-3-slide .title1 {
        font-size: 33px;
        font-weight: 600;
        line-height: 50px;
    }
    .portfolio-area .title1 {
        font-size: 24px;
        line-height: 44px;
    }
}

/* Large Mobile :480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 450px
    }
    .title1 {
        font-size: 38px;
        line-height: 70px;
    }
    .title2 {
        font-size: 20px;
        font-weight: 500;
    }
    .intro-content.content-3-slide .title1 {
        font-size: 45px;
        font-weight: 600;
        line-height: 50px;
    }
    .portfolio-area .title1 {
        font-size: 34px;
        line-height: 44px;
    }
}